html {
  font-size: 16px;
  font-family: "Raleway", Helvetica, sans-serif;
  color: dimgrey;

}

.mobile {
  display: none;
}

img, video {
  max-width: 100%;
  height: auto;
}

/* Header styles */

li a {
  display: block;
  color: dimgrey;
  font-weight: bold;
  padding: .25rem;
  text-decoration: none;
}

li a:hover {
  color: red;
}

header {
  display: flex;
  margin-top: 1rem;
}

header li {
  float: left;
}

.logo {
  flex-grow: 1;
  margin-left: 2.5rem;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 2.5rem;
}

.navigation li {
  margin: 0 2rem;
  font-size: 1.175rem;
  padding-top: .5rem;
}

.navigation li:first-child {
  margin: 0 2rem 0 0;
}

.navigation li:last-child {
  margin: 0 1rem 0 2rem;
}

.logo img {
  width: 15rem;
}

.social img {
  width: 3.25rem;
}

/* Banner styles */

.banner-image {
  margin: .75rem 0 6rem 0;
}

.banner-text {
  width: 75%;
  margin: auto;
  text-align: center;
}

.banner-text h1 {
  font-size: 6.5rem;
  color: lightblue;
}

.banner-text h2 {
  margin: 4rem 0;
  font-size: 2.125rem;
}

/* Skill styles */

.skills {
  display: flex;
  justify-content: center;
}

.skill-container {
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skills img {
  width: 18rem;
}

.skill-text h3 {
  font-size: 3.25rem;
  font-weight: bold;
  color: lightblue;
  padding-top: 3rem;
}

.skill-text p {
  font-size: 1.625rem;
  line-height: 2.5rem;
  padding: 3rem 5rem;
}

/* footer styles */


footer {
  margin-top: 5rem;
}

footer .social {
  display: flex;
  justify-content: center;
}
